.generator-container {
  /* sizing */
  height: 100%;
  width: 100%;

  /* content layout */
  display: flex;
  flex-direction: column-reverse;

  /* styling */
  /* border: 3px solid yellow; */
}

@media only screen and (min-width: 768px) {
  .generator-container {
    /* content layout */
    flex-direction: column;
  }
}