.generator-container {
  height: 100%;

  display: flex;
  flex-direction: column-reverse;
  background-color: green;

  position: relative;
}

.scheme-create-pane {
  /* positioning */
  position: absolute;
  bottom: 0;

  /* sizing */
  width: 100%;

  background-color: white;

  display: none;
  flex-direction: column;
}

.pane-expanded {
  display: flex;
}

.form-collapse-btn {
  align-self: flex-end;
}

.generator-input-group {
  display: flex;
  flex-direction: column;
}

.generator-input-field {
  width: 100%;
}

.dropdown-list {
  display: none;
}

input[name="mode"] {
  display: none;
}

.scheme-ctrl-pane {
  display: flex;
}

.scheme-ctrl-btn {
  flex-grow: 1;
}

.generator-display {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  background-color: yellow;
}

.generator-color {
  flex-grow: 1;
}

.generator-color-container {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.generator-color-btns {
  display: flex;
  align-items: center;
}