.generator-container {
  height: 100%;

  display: flex;
  flex-direction: column-reverse;
}

/* GENERATOR-DISPLAY */
.generator-display {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.generator-color {
  flex-grow: 1;
}

.generator-color-container {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.generator-color-btns {
  display: flex;
  align-items: center;
}

/* GENERATOR FORM */
.generator-form {
  display: flex;
  flex-direction: column;

  position: relative;
}

.generator-input-group {
  display: flex;
  flex-direction: column;
}

.generator-input-field {
  width: 100%;
}

.scheme-create-pane {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: none;
  flex-direction: column;

  background-color: white;
}

.pane-expanded {
  display: flex;
}

.form-collapse-btn {
  align-self: flex-end;
}

/* dropdown */
.dropdown-list {
  display: none;
  flex-direction: column;
}

.dropdown-list-expanded {
  display: flex;
}

input[name="mode"] {
  display: none;
}

.dropdown-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background-color: yellow;
}

input[name="mode"]:checked + .dropdown-label {
  background-color: green;
}

/* count input */
.generator-count-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scheme-ctrl-pane {
  display: flex;
  align-items: center;
}

.scheme-ctrl-btn {
  flex-grow: 1;
}