.generator-container {
  height: 100%;
  position: relative;

  background-color: orangered;
}

/* SCHEME CREATE PANE */
.generator-form {
  /* positioning */
  position: absolute;
  bottom: 0;

  /* sizing */
  width: 100%;

  background-color: red;
}

.scheme-create-pane {
  display: none;
  flex-direction: column;
}

.pane-expanded {
  display: flex;
}

.generator-input-group {
  display: flex;
  flex-direction: column;
}

.generator-input-field {
  width: 100%;
}

.form-collapse-btn {
  align-self: flex-end;
}

/* mode dropdown */
.dropdown-list {
  display: none;
  flex-direction: column;
}

.dropdown-list-expanded {
  display: flex
}

.dropdown-option {
  background-color: yellow;
}

input[name="mode"] {
  display: none;
}

.dropdown-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[name="mode"]:checked + .dropdown-label {
  background-color: greenyellow;
}

/* count input */
.generator-count-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scheme-ctrl-pane {
  display: flex;
  align-items: center;
}

.scheme-ctrl-btn {
  flex-grow: 1;
}