<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <header class="header">
    <img src=<%=require("../../img/pantone.svg")%> />
    <nav id="nav" class="nav">
      <section class="nav-links">
        <a href="index.html" class="nav-link">generator</a>
        <a href="schemes.html" class="nav-link">schemes</a>
        <a href="colors.html" class="nav-link">colors</a>
      </section>
      <section id="nav-btns" class="nav-btns">
        <button type="button" id="nav-login-btn" class="nav-btn">log in</button>
        <button type="button" id="nav-signup-btn" class="nav-btn">sign up</button>
        <button type="button" id="nav-logout-btn" class="nav-btn">log out</button>
      </section>
    </nav>
  </header>

  <!-- signup modal -->
   <dialog id="signup-modal" class="auth-modal">
    <form method="post" id="signup-form" class="auth-form">
      <fieldset id="signup-fieldset" class="auth-fieldset">
        <legend class="auth-fieldset-legend">
          <h2>sign up</h2>
        </legend>

        <label for="signup-username" class="auth-input-group">
          <h3>username</h3>
          <input type="text" name="username" id="signup-username" class="auth-input-field" />
        </label>

        <label for="signup-email" class="auth-input-group">
          <h3>email</h3>
          <input type="email" name="email" id="signup-email" class="auth-input-field" />
        </label>
        
        <label for="signup-password" class="auth-input-group">
          <h3>password</h3>
          <input type="password" name="password" id="signup-password" class="auth-input-field" />
        </label>
        
        <button type="submit" id="signup-btn" class="auth-btn">sign up</button>
      </fieldset>
    </form>
   </dialog>
</body>
</html>