/* GRID */
.grid-container {
  /* sizing */
  min-height: 100%;
  width: 100%;

  /* styling */
  background-color: #E8ECF4;
}

.grid {
  /* sizing */
  max-width: 992px;
  margin: auto;
  height: 100%;

  /* content layout */
  display: grid;
  align-items: start;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(10em, 12em));
  grid-auto-rows: auto;
  gap: 2em;
  padding: 2em 1em;
}

.card {
  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: .5em .5em 1em;

  /* styling */
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
}

.card-img {
  /* styling */
  border-radius: .5em;
  height: 15em;
}

.card-body {
  /* content layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.card-title {
  font-weight: 600;
  text-align: center;
}

.card-view-btn {
  padding: .5em 2em;
  background-color: orangered;
  color: white;
  border-radius: .25em;
}

.card-delete-btn {
  font-size: .875rem;
  color: lightgray;
}

.grid-placeholder {
  /* sizing */
  width: 90vw;
  max-width: 320px;
  align-self: center;
  justify-self: center;

  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;

  /* styling */
  background-color: white;
  border-radius: 1em;
  line-height: 1.5;
}

.grid-placeholder-btns {
  /* content layout */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5em;
}

.grid-placeholder-btn {
  flex-grow: 1;
  height: 2.5em;
  padding: 0 1em;
  border-radius: .5em;
  border: 1px solid black;
  text-transform: capitalize;
  font-weight: 500;
}

.grid-placeholder-link {
  display: flex;
  align-items: center;
  gap: .5em;
  text-decoration: none;
  font-weight: 500;
}

.grid-signup-btn {
  background-color: black;
  color: white;
}

/* COLOR MODAL */
.color-modal {
  /* sizing */
  width: 90vw;
  max-width: 320px;

  /* styling */
  border: none;
  border-radius: 1em;
}

.color-modal-img {
  /* sizing */
  width: 100%;
  height: 12em;
}

.color-modal-body {
  padding: 1em;
  font-size: .875rem;
}

.color-modal-name {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 1em;
}

.color-modal-codes {
  /* content layout */
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.color-modal-code {
  /* content layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .25em .25em .25em .5em;

  /* styling */
  border-radius: .5em;
  border: 1px solid lightgray;
}

.color-modal-btn {
  background-color: cornflowerblue;
  color: white;
  padding: .5em 1em;
  border-radius: .25em;
  font-size: .875em;
}

.color-modal-btn:focus {
  outline: none;
}

/* SCHEME MODAL */
.scheme-modal {
  /* sizing */
  width: 90vw;
  max-width: 420px;

  /* styling */
  border: none;
  border-radius: 1em;
}

.scheme-modal-figure {
  /* content layout */
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  padding: 1em;
  font-size: .875rem;
}

.scheme-modal-img {
  /* sizing */
  height: 100%;
  width: 100%;

  border-radius: .25em;
}

.scheme-modal-colors {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.scheme-modal-color {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5em;
  padding: .5em 0 .5em .5em;
}

.scheme-modal-btn {
  background-color: cornflowerblue;
  color: white;
  padding: .5em 1em;
  border-radius: .25em;
  font-size: .875em;
}

.scheme-modal-btn:focus {
  outline: none;
}