.grid-container {
  /* sizing */
  height: 100%;
  width: 100%;

  /* styling */
  background-color: #E8ECF4;
}

.grid {
  /* sizing */
  max-width: 992px;
  margin: auto;
  min-height: 100%;

  /* content layout */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  grid-auto-rows: minmax(18em, 1fr);
  gap: 2em;
  padding: 3em 1em;
}

.card {
  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: .5em .5em 1em;

  /* styling */
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
}

.card-img {
  /* sizing */
  width: 100%;
  height: 16em;

  /* styling */
  border-radius: .5em;
}

.card-body {
  /* content layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.card-title {
  font-weight: 600;
  text-align: center;
}

.card-view-btn {
  padding: .5em 2em;
  background-color: orangered;
  color: white;
  border-radius: .25em;
}

.card-delete-btn {
  font-size: .875rem;
  color: lightgray;
}

.grid-placeholder {
  /* sizing */
  width: 90vw;
  max-width: 320px;
  margin: auto;

  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;

  /* styling */
  background-color: white;
  border-radius: 1em;
  line-height: 1.5;
}

.grid-placeholder-btns {
  /* content layout */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5em;
}

.grid-placeholder-btn {
  flex-grow: 1;
  height: 2.5em;
  padding: 0 1em;
  border-radius: .5em;
  border: 1px solid black;
  text-transform: capitalize;
  font-weight: 500;
}

.grid-placeholder-link {
  display: flex;
  align-items: center;
  gap: .5em;
  text-decoration: none;
  font-weight: 500;
}

.grid-signup-btn {
  background-color: black;
  color: white;
}