/* SCHEME CREATE PANE */
.scheme-create-pane {
  display: none;

  /* positioning */
  position: absolute;
  bottom: -25em;
  width: 100%;

  /* content layout */
  height: 25em;
  padding: 1em;
  justify-content: space-between;

  border-radius: 1em 1em 0 0;
  box-shadow: 0 -16px 24px #37435C25;
  background-color: white;
  z-index: 1;

  transition: bottom .3s;

}

.pane-visible {
  bottom: 0;
}

.pane-displayed {
  display: flex;
}

/* SCHEME SEED COLOR */
.color {
  padding: .1em .2em;
  background-color: transparent;
}

/* SCHEME MODE */
/* DROPDOWN BUTTON */
.mode-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  font-weight: 500;
}

/* DROPDOWN OPTIONS */
.dropdown-options {
  position: absolute;
  top: 4.75em;
  width: 100%;
  z-index: 1;

  display: none;
  flex-direction: column;
  padding: .25em;

  height: 7.5em;
  overflow-y: scroll;
  list-style-type: none;

  background-color: white;
  border-radius: .5em;
  box-shadow: 0 16px 24px #37435C25;
}

.dropdown-expanded {
  display: flex;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  padding: .5em 1em;
  cursor: pointer;
  border-radius: .25em;
  background-color: white;
  font-size: .75rem;
}

input[type="radio"] + label:hover {
  background-color: lightgray;
}

input[type="radio"]:checked + label {
  background-color: darkgray;
  color: white;
}

/* SCHEME COLOR COUNT */
.count-input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.get-scheme-btn {
  background-color: black;
  color: white;
}

/* SCHEME CONTROL PANE */
.scheme-ctrl-pane {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  border: 1px solid black;
}

.scheme-ctrl-btn {
  flex: 1 0 8em;
  border: 1px solid black;
}

@media only screen and (min-width: 576px) {
  .generator-form {
    width: 45%;
    max-width: 340px;
  }

  .scheme-create-pane {  
    /* positioning */
    position: static;
  
    /* content layout */
    height: 100%;
    /* padding: 1em; */
    display: flex;
    justify-content: space-between;
  
    border-radius: 0;
    box-shadow: none;
  }

  .generator-form-collapse-btn {
    display: none;
  }

  .new-scheme-btn {
    display: none;
  }
}