.count-input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mode-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.scheme-ctrl-pane {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5em;
}

.scheme-ctrl-btn {
  flex: 1 0 8em;
}