/* SCHEME CREATE PANE */
.scheme-create-pane {
  display: none;

  /* positioning */
  position: absolute;
  bottom: -24em;
  width: 100%;

  /* content layout */
  height: 24em;
  padding: 1em;
  justify-content: space-between;

  border-radius: 1em 1em 0 0;
  box-shadow: 0 -6px 30px 5px rgba(0, 0, 0, .12),
              0 -8px 10px -5px rgba(0, 0, 0, .4);
  background-color: white;
  z-index: 1;

  transition: bottom .3s;

}

.pane-visible {
  bottom: 0;
}

.pane-displayed {
  display: flex;
}

/* SCHEME SEED COLOR */
.color {
  padding: .1em .2em;
  background-color: transparent;
}

/* SCHEME MODE */
/* DROPDOWN BUTTON */
.mode-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  font-weight: 500;
}

/* DROPDOWN OPTIONS */
.dropdown-options {
  position: absolute;
  top: 4.25em;
  width: 100%;
  z-index: 1;

  display: none;
  flex-direction: column;
  padding: .25em;

  height: 7.5em;
  overflow-y: scroll;
  list-style-type: none;

  background-color: white;
  border-radius: .5em;
  border: 1px solid #eee;
  box-shadow: 0 16px 24px rgba(0, 0, 0, .14),
              0 6px 30px 5px rgba(0, 0, 0, .12),
              0 8px 10px -5px rgba(0, 0, 0, .4);
}

.dropdown-expanded {
  display: flex;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  padding: .5em 1em;
  cursor: pointer;
  border-radius: .25em;
  background-color: white;
  font-size: .75rem;
}

input[type="radio"] + label:hover {
  background-color: lightgray;
}

input[type="radio"]:checked + label {
  background-color: darkgray;
  color: white;
}

/* SCHEME COLOR COUNT */
.count-input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.get-scheme-btn {
  background-color: black;
  color: white;
}

/* SCHEME CONTROL PANE */
.scheme-ctrl-pane {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
}

.scheme-ctrl-btn {
  flex: 1 0 auto;
  border: 1px solid black;
}

@media only screen and (min-width: 576px) {
  .generator-form-container {
    flex: 1 0 45%;
    padding: 2em 1em;
  }

  .generator-form {
    height: 100%;
    gap: 1em;
  }

  .scheme-create-pane {  
    /* positioning */
    position: static;
  
    /* content layout */
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
  
    border-radius: 0;
    box-shadow: none;
  }

  .generator-form-collapse-btn {
    display: none;
  }

  .new-scheme-btn {
    display: none;
  }

  .scheme-ctrl-pane {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .generator-form-container {
    width: 100%;
    flex: 0 0 auto;
    z-index: 1;
    box-shadow: 0 .25em .25em rgba(0, 0, 0, .25);
    padding: 0;
  }

  .generator-form {
    width: 768px;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    margin: auto;
  }

  .scheme-create-pane {
    flex-direction: row;
    align-items: flex-end;
    gap: 1em;
    padding: 0;
  }

  .generator-input-group {
    flex: 1 0 auto;
  }

  .mode-input-group {
    flex: 0 0 14em;
  }

  .scheme-ctrl-pane {
    align-items: flex-end;
    flex: 0 0 auto;
    padding: 0;
  }
}