.generator-form {
  /* positioning */
  position: relative;

  /* sizing */
  width: 100%;

  /* content layout */
  display: flex;
  flex-direction: column;

  background-color: var(--main-bg);
}

.generator-fieldset {
  /* content layout */
  display: flex;
}

/* SCHEME CREATE PANE */
.scheme-create-pane {
  display: none;
  flex-direction: column;

  position: absolute;
  bottom: 0;
  width: 100%;

  background-color: var(--main-bg);
}

.pane-expanded {
  display: flex;
}

.generator-collapse-btn {
  align-self: flex-end;
}

.generator-input-group {
  display: flex;
  flex-direction: column;
}

.generator-input-field {
  width: 100%;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-list {
  display: none;
  flex-direction: column;

  list-style-type: none;
}

.dropdown-list-expanded {
  display: flex;
}

input[name="mode"] {
  display: none;
}

input[name="mode"] + label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[name="mode"]:checked + label {
  background-color: lightgoldenrodyellow
}

.generator-count-input-group {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* SCHEME CONTROL PANE */
.scheme-ctrl-pane {
  flex-direction: row;
  align-items: center;
}

.scheme-ctrl-btn {
  flex-grow: 1;
}