.generator-form {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.generator-fieldset {
  position: absolute;
  width: 100%;
  display: none;
  font-size: .875rem;
  border: none;
  padding: 1.5em 1em;

  background-color: white;
  border-radius: 1.25em 1.25em 0 0;
  border-bottom: 1px solid black;
}

.generator-fieldset-expanded {
  display: flex;
  bottom: 0;
}

.generator-inputs {
  height: 21em;
  bottom: -21em;

  flex-direction: column;
  justify-content: space-between;
}

.scheme-ctrl-btns {
  height: 5.625em;
  bottom: -5.625em;

  flex-direction: row;
  gap: .5em;
}

.generator-fieldset-expanded {
  bottom: 0;
  display: flex;
}

.generator-collapse-btn {
  align-self: flex-end;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: .625em;
}

.input-label {
  text-transform: capitalize;
  font-weight: 600;
}

.form-control {
  font-size: .875rem;
  width: 100%;
  height: 2.625em;
  border: 1px solid lightgray;
  border-radius: .25em;
  background-color: white;
}

.generator-submit-btn {
  margin-top: 1em;
  border: none;
  font-weight: 600;
  color: white;
  background-color: green;
}

.scheme-ctrl-btn {
  border: none;
  font-weight: 600;
  color: white;
}

.generator-expand-btn {
  background-color: lightskyblue;
}

.generator-save-btn {
  background-color: lightsalmon;
}