.generator-display {
  flex-grow: 1;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;

  width: 100%;
}

.generator-display-color {
  flex-grow: 1;
  position: relative;
}

.generator-display-color-container {
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.generator-display-color-details {
  display: flex;
  flex-direction: column;
  gap: .25em;
}

.generator-display-color-hex {
  font-size: .875em;
}

.generator-display-color-btns {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.generator-display-btn:hover {
  opacity: .75;
}

.generator-display-btn:disabled {
  opacity: .4;
  cursor: unset;
}

.light-text {
  color: whitesmoke;
}

.dark-text {
  color: #191919;
}

.copy-message {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75em;

  background-color: rgba(0, 0, 0, .75);
  color: white;
  font-weight: 600;
}

.generator-display-error,
.generator-display-placeholder {
  padding: 1em 3em;
  margin: auto;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .generator-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    grid-auto-rows: 1fr;
  }

  .generator-display-color-container {    
    flex-direction: column-reverse;
    justify-content: center;
    gap: 5vh;

    text-align: center;
  }

  .generator-display-color-btns {
    flex-direction: column;
    gap: 2vh;
  }
}