/* GENERATOR */
.generator {
  flex-grow: 1;
  
  display: flex;
  flex-direction: column;
}

.generator-form-wrapper {
  z-index: 1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}

.generator-form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: .625em;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: .3125em;
}

.form-label-text {
  margin-left: .125em;
  font-size: .875rem;
  text-transform: capitalize;
  font-weight: 600;
}

.form-input {
  font-size: .875rem;

  width: 100%;
  height: 3.5em;

  border: 1px solid var(--accent-dark);
  border-radius: .375em;
}

.form-input:focus {
  outline: none;
}

/* FORM COLOR INPUT */
.color-label {
  flex: 0 0 4.25em;
}

.color-input {
  background-color: var(--accent-dark);
  padding: .125em .25em;
}

/* FORM MODE INPUT */
.mode-label {
  flex: 1 0 auto;
}

.mode-input {
  position: relative;
}

.mode-select-btn {
  font-size: 1em;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .875em;
  padding: 0 1em;

  color: var(--font-color);
}

.mode-options {
  position: absolute;
  top: 3.75em;
  left: 0;

  width: 100%;

  display: none;
  flex-direction: column;

  background-color: var(--main);
  border-radius: .375em;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1),
              0 4px 6px -2px rgba(0, 0, 0, .05),
              0 0 0 1px rgba(0, 0, 0, .05);
}

.dropdown-expanded {
  display: flex;
}

.dropdown-arrow {
  color: var(--accent-dark);
}

.mode-option {
  background-color: transparent;
}

input[name="mode"] {
  display: none;
}

input[name="mode"] + span {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .85em 1em;

  cursor: pointer;
  background-color: var(--main);
  border-radius: .375em;
}

input[name="mode"] + span:hover {
  background-color: var(--accent-light);
}

input[name="mode"]:checked + span {
  font-weight: 600;
}

.checkmark-img {
  height: .75em;
  width: auto;
}

/* FORM COUNT INPUT */
.count-label {
  flex: 0 0 4em;
}

.submit-btn {
  background-color: var(--accent-light);
  color: var(--font-color);
  border: none;
  font-size: .75rem;
}

/* GENERATOR DISPLAY */
.generator-display {
  flex: 1 0 auto;
  list-style-type: none;

  display: flex;
  flex-direction: column;
}

.generator-color {
  flex: 1 0 5em;

  display: flex;
  position: relative;
}

.generator-color-inner {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  gap: .625em;
  padding: 0 5vw;

  font-size: .85rem;
  text-align: center;

  opacity: 0;
  transition: opacity .2s ease-in;
}

.generator-color-inner:hover {
  opacity: 1;
}

.generator-color-hex {
  font-size: 1em;
  font-weight: 600;
}

.generator-color-name {
  font-size: .9em;
}

.generator-color-btns {
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 1.25em;
}

.remove-color-btn:disabled {
  opacity: .5
}

.generator-color-overlay {
  position: absolute;
  display: flex;

  height: 100%;
  width: 100%;

  margin: auto;

  background-color: rgba(0, 0, 0, .4);
}

.generator-color-msg {
  font-size: .85rem;
  margin: auto;
  color: #1B1C1E;
  background-color: #FAF9F6;
  padding: .625em 1em;
  border-radius: 1.5em;
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

@media only screen and (min-width: 576px) {
  .title {
    font-size: 2rem;
  }
  
  .hero p {
    font-size: 1rem;
  }

  .submit-btn {
    flex: 0 0 10em;
    padding: 0;
  }

  .form-label-text,
  .form-input {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .generator-display {
    flex-direction: row;
  }

  .generator-color {
    min-height: 30em;
  }

  .generator-color-inner {
    flex-direction: column;
    justify-content: center;
    padding: 0;

    font-size: 1rem;
  }

  .generator-color-name,
  .generator-color-hex {
    order: 2;
  }

  .generator-color-btns {
    margin: 0 auto 2.25em;
    flex-direction: column-reverse;
  }

  .generator-color-overlay {
    height: auto;
    background-color: transparent;
  }

  .generator-color-msg {
    margin-top: 2em;
  }
}