.header {
  /* sizing */
  flex: 0 0 3.5em;

  /* content layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;

  position: relative;
}

.nav {
  /* positioning */
  position: absolute;
  top: 2.5em;
  right: 1.5em;
  z-index: 2;

  /* content layout */
  display: none;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  padding: .5em;

  /* styling */
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
}

.nav-expanded {
  display: flex;
}

.nav-links,
.nav-btns {
  /* content layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25em;
}

.nav-link,
.nav-btn {
  /* sizing */
  flex: 2.5em;
  width: 7em;

  /* content layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* styling */
  border-radius: .5em;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  font-size: .875rem;

  /* border: 1px solid black; */
}

.nav-link:hover,
.nav-btn:hover {
  background-color: ghostwhite;
}

.nav-signup-btn {
  background-color: black;
  color: white;
}

.nav-signup-btn:hover {
  background-color: black;
}

.nav-logout-btn {
  display: none;
}

.nav-separator {
  border: none;
  border-top: 1px solid lightgray;
  width: 70%;
}

.nav-btns-toggler {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-toggler {
    display: none;
  }

  .nav {
    /* positioning */
    position: static;
  
    /* content layout */
    display: flex;
    flex-direction: row;
    gap: .5em;
    padding: 0;
  
    /* styling */
    border-radius: 0;
    box-shadow: none;
  
    /* border: 1px solid black; */
  }

  .nav-links {
    /* content layout */
    flex-direction: row;
    gap: .5em;
  }

  .nav-link {
    /* sizing */
    height: 2.5em;
    flex: 7em;
  }

  .nav-separator {
    display: none;
  }

  .nav-btns-toggler {
    display: block;
  }

  .nav-btns {
    /* positioning */
    position: absolute;
    top: 2.5em;
    right: 1.5em;
  
    /* content layout */
    display: none;
    gap: .5em;
    padding: .5em;
  
    /* styling */
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
  
    /* border: 1px solid black; */
  }

  .nav-btns-expanded {
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .nav-btns-toggler {
    display: none;
  }

  .nav-btns {
    /* positioning */
    position: static;
  
    /* content layout */
    display: flex;
    flex-direction: row;
    gap: .5em;
    padding: 0;
  
    /* styling */
    border-radius: 0;
    box-shadow: none;
  
    /* border: 1px solid black; */
  }

  .nav-btn {
    /* sizing */
    height: 2.5em;
    flex: 7em;
  }
}