.header {
  /* sizing */
  flex: 0 0 3.5em;
  width: 100%;

  /* content layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;

  position: relative;
}

.header-logo {
  height: 2em;
  width: auto;
}

.nav-toggler-img {
  height: 1.25em;
  width: auto;
}

.nav {
  /* positioning */
  position: absolute;
  top: 2.75em;
  right: .5em;
  z-index: 2;

  /* content layout */
  display: none;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  padding: .5em;

  /* styling */
  border-radius: .75em;
  background-color: white;
  box-shadow: 0 .15em .375em rgba(0, 0, 0, .15);
}

.nav-expanded {
  display: flex;
}

.nav-btns-toggler {
  display: none;
}

.nav-btns-toggler-img {
  height: 1.75em;
  width: auto;
}

.nav-links,
.nav-btns {
  /* content layout */
  display: flex;
  flex-direction: column;
  gap: .25em;
}

.nav-link,
.nav-btn {
  /* sizing */
  min-width: 8em;
  padding: .75em .25em;

  /* text styling */
  font-size: .875rem;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  color: black;

  /* styling */
  border-radius: .5em;
  
  background-color: white;
}

.nav-link:hover,
.nav-btn:hover {
  background-color: ghostwhite;
}

.nav-signup-btn {
  background-color: black;
  color: white;
  font-weight: 600;
}

.nav-signup-btn:hover {
  background-color: black;
  color: white;
  font-weight: 600;
}

.nav-logout-btn {
  display: none;
}

.nav-separator {
  border: none;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  width: 80%;
}

@media only screen and (max-width: 575px) and (max-height: 599px) {
  .header {
    z-index: 1;
    box-shadow: 0 .25em .25em rgba(0, 0, 0, .25);
  }
}

@media only screen and (min-width: 576px) {
  .header {
    padding: 0 1em;
  }

  .nav-toggler {
    display: none;
  }

  .nav {
    /* positioning */
    position: static;

    /* content layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 2em; */
    padding: 0;

    box-shadow: none;
  }

  .nav-separator {
    display: none;
  }

  .nav-links {
    /* content layout */
    flex-direction: row;
    align-items: center;
  }

  .nav-btns-toggler {
    display: block;
  }

  .nav-btns {
    /* positioning */
    position: absolute;
    top: 3em;
    right: .75em;
    z-index: 2;

    /* content layout */
    display: none;
    flex-direction: column;
    gap: .5em;
    padding: .5em;

    border-radius: .75em;
    background-color: white;
    box-shadow: 0 .15em .375em rgba(0, 0, 0, .15);
  }

  .nav-btns-expanded {
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .nav-btns-toggler {
    display: none;
  }

  .nav-btns {
    /* positioning */
    position: static;

    /* content layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;

    box-shadow: none;
  }
}