@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-size: inherit;

  user-select: none;
}

/* CSS SELECTORS */
button {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

dialog {
  margin: auto;
}

/* PAGE LAYOUT */
.app-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: white;
}

main {
  flex-grow: 1;
  background-color: azure;
}