@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-size: inherit;

  user-select: none;
}

/* CSS SELECTORS */
button {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

dialog {
  margin: auto;
}

/* PAGE LAYOUT */
.app-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-color: lightblue;
}

/* DEFAULT FORM STYLES */
.form {
  display: flex;
  flex-direction: column;
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.legend {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}

.close-form-btn {
  align-self: flex-end;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: .25em;
  position: relative;
}

.input-label {
  font-size: .875rem;
  text-transform: capitalize;
}

.input-field {
  width: 100%;
  flex: 1 0 3em;
  border-radius: .4em;
  padding: .75em;
  border: 1px solid black;
}

.input-field:focus {
  outline: none;
}

.form-btn {
  height: 2.75em;
  border-radius: .25em;
  
  text-transform: capitalize;
  font-weight: 600;
}

.form-btn-inline {
  text-decoration: underline;
  color: blue;
  font-size: .75rem;
}

.auth-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5em;
  font-size: .75rem;
}