@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Knewave';
  src: url('./assets/fonts/Knewave-Regular.ttf');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-size: inherit;

  user-select: none;
}

/* CSS SELECTORS */
button {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

dialog {
  margin: auto;
}

/* PAGE LAYOUT */
.app-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  /* flex: 0 0 85%; */
  display: flex;
  flex-direction: column;
}

/* HERO SECTION */
.hero {
  display: none;
}

.hero-title {
  font-size: 2rem;
  font-family: 'Knewave', serif;
}

.hero-page-name {
  font-size: 1.25rem;
}

@media only screen and (min-height: 600px) {
  .hero {
    height: 25vh;
    min-height: 6em;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
  }
}

@media only screen and (max-width: 767px) {
  .hero {
    z-index: 1;
    box-shadow: 0 .25em .25em rgba(0, 0, 0, .25);
  }
}

/* DEFAULT FORM STYLES */
.form {
  display: flex;
  flex-direction: column;
  font-size: .875rem;
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.legend {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.close-form-btn {
  align-self: flex-end;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: .5em;
  position: relative;
}

.input-label {
  text-transform: capitalize;
}

.input-field {
  width: 100%;
  flex: 0 0 3em;
  border-radius: .5em;
  padding: 0 .75em;
  border: 1px solid black;
}

.input-field:focus {
  outline: none;
}

.form-btn {
  height: 3em;
  padding: 0 1.5em;
  border-radius: .5em;
  
  text-transform: capitalize;
  font-weight: 600;
}

.form-btn-inline {
  text-decoration: underline;
  color: blue;
  font-size: .75rem;
}

.auth-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5em;
  font-size: .75rem;
}