@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo/Heebo-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Lato", sans-serif;
}

/* CSS SELECTORS */
button {
  display: block;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

dialog {
  margin: auto;
}

/* PAGE LAYOUT */
.app-container {
  height: 90vh;

  display: flex;
  flex-direction: column;

  background-color: ghostwhite;
}

main {
  flex-grow: 1;
  background-color: lightcoral;
}

/* AUTH MODALS */
.auth-fieldset {
  display: flex;
  flex-direction: column;
}

.auth-input-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}