.black-border {
  border: 1px solid black;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-style: normal;
}

/* DEFAULT PAGE STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

/* ELEMENT SELECTORS  */
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* HEADER */
@font-face {
  font-family: 'Matemasie';
  src: url('../fonts/Matemasie/Matemasie-Regular.ttf') format('truetype');
  font-style: normal;
}

.header {
  height: 5em;
  padding: 0 1.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: 'Matemasie';
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
}

.nav-container {
  display: none;

  /* positioning */
  position: absolute;
  top: 0;
  right: -100vw;

  /* sizing */
  width: 100vw;
  height: 100vh;

  /* styling */
  background-color: rgba(0, 0, 0, .75);
}

.expanded {
  display: flex !important;
  right: 0;
}

.nav {
  /* positioning */
  margin-left: auto;

  /* sizing */
  width: 20em;
  height: 100%;

  /* content layout */
  display: flex;
  flex-direction: column;

  /* styling */
  background-color: white;
}

.nav-btn {
  height: 2.625em;
  padding: .625em 0;

  font-size: 1rem;
  text-transform: capitalize;
}

.nav-saved-btns {
  display: flex;
  flex-direction: column;
  gap: .625em;
  padding-top: 1.25em;
}

.auth-expand-btn {
  display: none;
}

.nav-saved-btn {
  text-align: left;
  padding-left: 1.25em;
}

.nav-auth-btns {
  margin-top: auto;

  display: flex;
  gap: .625em;
  padding: 1.25em;
}

.nav-auth-btn {
  flex: 1 0 auto;
  
  background-color: black;
  border: 1px solid black;
  border-radius: .375em;
  color: white;
}

.nav-login-btn {
  background-color: white;
  color: black;
}

@media only screen and (min-width: 576px) {
  .nav-expand-btn {
    display: none;
  }

  .nav-container {
    display: block;

    /* positioning */
    position: static;

    /* sizing */
    width: auto;
    height: auto;
  }

  .nav {
    /* sizing */
    width: auto;
    height: auto;

    /* content layout */
    flex-direction: row;
    gap: 4em;
  }

  .nav-saved-btns {
    padding: 0;
    flex-direction: row;
    gap: 1.25em;
  }

  .nav-saved-btn {
    border-radius: .375em;
  }

  .auth-expand-btn {
    display: block;
  }

  .nav-auth-btns {
    display: none;
    
    /* positioning */
    position: absolute;
    top: 4em;
    right: 0;

    /* sizing */
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .auth-expand-btn {
    display: none;
  }

  .nav-auth-btns {
    /* positioning */
    position: static;

    /* sizing */
    width: auto;
    height: auto;

    /* content layout */
    display: flex;
    padding: 0;
    gap: 1.25em;
  }

  .nav-auth-btn {
    width: 8em;
  }
}