/* FONT IMPORTS */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Patua';
  src: url('../fonts/Patua_One/PatuaOne-Regular.ttf') format('truetype');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter';
}

/* CSS SELECTORS */
button {
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

dialog {
  margin: auto;
}

.app-container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  background-color: lightcoral;
}