<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <script src="https://kit.fontawesome.com/8b3af6f949.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="app-container">
    <header class="header">
      <img class="header-logo" src=<%=require("../images/pantone.svg")%> />
      <button type="button" class="nav-toggler" id="nav-toggler">
        <img class="nav-toggler-img" src=<%=require("../images/menu-8.svg")%> />
      </button>
      <nav id="nav" class="nav">
        <div id="nav-links" class="nav-links">
          <a href="#" class="nav-link">generator</a>
          <a href="./schemes.html" class="nav-link">my schemes</a>
          <a href="./colors.html" class="nav-link">my colors</a>
        </div>
        <button type="button" class="nav-btns-toggler" id="nav-btns-toggler">
          <img class="nav-btns-toggler-img" src=<%=require("../images/user-c-frame.svg")%> />
        </button>
        <hr class="nav-separator">
        <div id="nav-btns" class="nav-btns">
          <button id="nav-login-btn" class="nav-btn nav-login-btn">log in</button>
          <button id="nav-signup-btn" class="nav-btn nav-signup-btn">sign up</button>
          <button id="nav-logout-btn" class="nav-btn nav-logout-btn">log out</button>
        </div>
      </nav>
    </header>
    <main>
      <div class="generator-container">
        <form id="generator-form" class="form generator-form">
          <fieldset id="scheme-create-pane" class="fieldset scheme-create-pane">
            
            <!-- close form button -->
            <button type="button" id="generator-form-collapse-btn" class="close-form-btn generator-form-collapse-btn">
              <i class="fa-solid fa-circle-xmark"></i>
            </button>

            <!-- seed color -->
            <label for="color" class="input-group">
              <h2 class="input-label">seed</h2>
              <input type="color" name="color" id="color" class="input-field color">
            </label>

            <!-- color mode -->
            <section class="input-group">
              <h2 class="input-label">mode</h2>
              <button type="button" id="mode-dropdown-btn" class="input-field mode-dropdown-btn">
                <p id="mode-dropdown-btn-text" class="mode-dropdown-btn-text">monochrome</p>
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <ul id="mode-dropdown-options" class="dropdown-options">
                <li class="mode-dropdown-option">
                  <input type="radio" name="mode" id="monochrome" value="monochrome" checked />
                  <label for="monochrome">monochrome</label>
                </li>
                <li class="mode-dropdown-option">
                  <input type="radio" name="mode" id="monochrome-dark" value="monochrome-dark" />
                  <label for="monochrome-dark">monochrome-dark</label>
                </li>
                <li class="mode-dropdown-option">
                  <input type="radio" name="mode" id="monochrome-light" value="monochrome-light" />
                  <label for="monochrome-light">monochrome-light</label>
                </li>
                <li class="mode-dropdown-option">
                  <input type="radio" name="mode" id="analogic" value="analogic" />
                  <label for="analogic">analogic</label>
                </li>
                <li class="mode-dropdown-option">
                  <input type="radio" name="mode" id="complement" value="complement" />
                  <label for="complement">complement</label>
                </li>
                <li class="mode-dropdown-option">
                  <input type="radio" name="mode" id="analogic-complement" value="analogic-complement" />
                  <label for="analogic-complement">analogic-complement</label>
                </li>
                <li class="mode-dropdown-option">
                  <input type="radio" name="mode" id="triad" value="triad" />
                  <label for="triad">triad</label>
                </li>
              </ul>
            </section>

            <!-- color count -->
            <section class="input-group">
              <h2 class="input-label">count</h2>
              <div class="input-field count-input-field">
                <button type="button" id="count-decrease-btn" class="count-btn">
                  <i class="fa-solid fa-minus"></i>
                </button>
                <p id="count" class="count" data-value="5">5</p>
                <button type="button" id="count-increase-btn" class="count-btn">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </section>

            <!-- submit -->
            <button type="button" id="get-scheme-btn" class="form-btn get-scheme-btn">get scheme</button>
          </fieldset>
          <fieldset id="scheme-ctrl-pane" class="fieldset scheme-ctrl-pane">
            <button type="button" id="save-scheme-btn" class="form-btn scheme-ctrl-btn save-scheme-btn">save scheme</button>
            <button type="button" id="new-scheme-btn" class="form-btn scheme-ctrl-btn new-scheme-btn">new scheme</button>
          </fieldset>
        </form>
        <div id="generator-display" class="generator-display">
          <p class="generator-display-placeholder">Generating color scheme...</p>
        </div>
      </div>
    </main>
  </div>
  
  <!-- login modal -->
  <dialog id="login-modal" class="auth-modal">
    <form method="post" id="login-form" class="form auth-form">
      <!-- close modal button -->
      <button type="button" id="login-modal-close-btn" class="close-form-btn">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>

      <fieldset id="login-fieldset" class="fieldset auth-fieldset">
        <legend class="legend">
          <h2>log in</h2>
        </legend>

        <!-- email -->
        <label for="login-email" class="input-group">
          <h3 class="input-label">email</h3>
          <input type="email" name="email" id="login-email" class="input-field" autofocus>
        </label>

        <!-- password -->
        <label for="login-password" class="input-group">
          <h3 class="input-label">password</h3>
          <input type="password" name="password" id="login-password" class="input-field">
          <div class="auth-nav">
            <p>Forgot password?</p>
            <button type="button" id="new-password-btn" class="form-btn-inline">Reset it here</button>
          </div>
        </label>

        <!-- submit -->
        <button type="submit" id="login-btn" class="form-btn auth-form-btn login-btn">log in</button>
      </fieldset>

      <div class="auth-nav">
        <p>No account yet?</p>
        <button type="button" id="to-signup-btn" class="form-btn-inline">Sign up</button>
      </div>
    </form>
  </dialog>

  <!-- signup modal -->
  <dialog id="signup-modal" class="auth-modal">
    <form method="post" id="signup-form" class="form auth-form">
      <!-- close modal button -->
      <button type="button" id="signup-modal-close-btn" class="close-form-btn">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>

      <fieldset id="signup-fieldset" class="fieldset auth-fieldset">
        <legend class="legend">
          <h2>sign up</h2>
        </legend>

        <!-- username -->
        <label for="signup-username" class="input-group">
          <h3 class="input-label">username</h3>
          <input type="text" name="username" id="signup-username" class="input-field" autofocus>
        </label>

        <!-- email -->
        <label for="signup-email" class="input-group">
          <h3 class="input-label">email</h3>
          <input type="email" name="email" id="signup-email" class="input-field">
        </label>

        <!-- password -->
        <label for="signup-password" class="input-group">
          <h3 class="input-label">password</h3>
          <input type="password" name="password" id="signup-password" class="input-field">
        </label>

        <!-- submit -->
        <button type="submit" id="signup-btn" class="form-btn auth-form-btn signup-btn">sign up</button>
      </fieldset>

      <div class="auth-nav">
        <p>Already have an account?</p>
        <button type="button" id="to-login-btn" class="form-btn-inline">Log in</button>
      </div>
    </form>
  </dialog>

  <!-- password reset modal -->
  <dialog id="reset-modal" class="auth-modal">
    <form method="post" id="reset-form" class="form auth-form">
      <!-- close modal button -->
      <button type="button" id="reset-modal-close-btn" class="close-form-btn">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>

      <fieldset id="reset-fieldset" class="fieldset auth-fieldset">
        <legend class="legend">
          <h2>reset password</h2>
        </legend>

        <!-- email -->
        <label for="reset-email" class="input-group">
          <h3 class="input-label">email</h3>
          <input type="email" name="email" id="reset-email" class="input-field" autofocus>
        </label>

        <!-- submit -->
        <button type="submit" id="reset-btn" class="form-btn auth-form-btn reset-btn">reset password</button>
      </fieldset>
      <button type="button" id="cancel-reset-btn" class="form-btn-inline">Back to log in</button>
    </form>
  </dialog>
</body>
</html>