<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <script src="https://kit.fontawesome.com/8b3af6f949.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="app-container">
    <header class="header">
      <nav id="nav" class="nav">
        <div id="nav-btns" class="nav-btns">
          <button id="nav-login-btn" class="nav-auth-btn nav-login-btn">log in</button>
          <button id="nav-signup-btn" class="nav-auth-btn nav-signup-btn">sign up</button>
          <button id="nav-logout-btn" class="nav-auth-btn nav-logout-btn">log out</button>
        </div>
      </nav>
    </header>
    <main>
      <div class="generator-container">
        <form method="post" id="generator-form" class="generator-form">
          <fieldset>
            <label for="color" class="generator-input-group">
              <h2 class="generator-input-label">base</h2>
              <input type="color" name="color" id="generator-color-input" class="generator-input-field">
            </label>
            <div class="generator-input-group">
              <h2 class="generator-input-label">mode</h2>
              <button type="button" id="generator-dropdown-btn" class="generator-dropdown-btn" value="monochrome">monochrome</button>
              <ul id="generator-dropdown-list" class="generator-dropdown-list">
                <li>
                  <label for="monochrome">monochrome</label>
                  <input type="radio" name="mode" id="monochrome" value="monochrome" checked />
                </li>
                <li>
                  <label for="monochrome-dark">monochrome-dark</label>
                  <input type="radio" name="mode" id="monochrome-dark" value="monochrome-dark" />
                </li>
                <li>
                  <label for="monochrome-light">monochrome-light</label>
                  <input type="radio" name="mode" id="monochrome-light" value="monochrome-light" />
                </li>
                <li>
                  <label for="analogic">analogic</label>
                  <input type="radio" name="mode" id="analogic" value="analogic" />
                </li>
                <li>
                  <label for="complement">complement</label>
                  <input type="radio" name="mode" id="complement" value="complement" />
                </li>
                <li>
                  <label for="analogic-complement">analogic-complement</label>
                  <input type="radio" name="mode" id="analogic-complement" value="analogic-complement" />
                </li>
                <li>
                  <label for="triad">triad</label>
                  <input type="radio" name="mode" id="triad" value="triad" />
                </li>
              </ul>
            </div>
            <div class="generator-input-group">
              <h2 class="generator-input-label">count</h2>
              <div class="generator-count-btns">
                <button type="button" id="decrease-count-btn" class="generator-count-btn">
                  <i class="fa-solid fa-minus"></i>
                </button>
                <p id="generator-count" class="generator-count" data-value="5">5</p>
                <button type="button" id="increase-count-btn" class="generator-count-btn">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>
          </fieldset>
          <div>
            <button type="submit" id="get-scheme-btn" class="generator-form-btn">get scheme</button>
            <button type="button" id="save-scheme-btn" class="generator-form-btn">save scheme</button>
          </div>
        </form>
        <div id="generator-display" class="generator-display">
          <p class="generator-display-placeholder">Generating color scheme...</p>
        </div>
      </div>
    </main>
  </div>
  
  <!-- login modal -->
  <dialog id="login-modal" class="auth-modal">
    <form method="post" id="login-form" class="auth-form">
      <fieldset id="login-fieldset" class="auth-fieldset">
        <legend class="auth-fieldset-legend">
          <h2>Log In</h2>
        </legend>
        <label for="login-email" class="auth-input-group">
          <h3 class="auth-input-label">email</h3>
          <input type="email" name="email" id="login-email" class="auth-input-field">
        </label>
        <label for="login-password" class="auth-input-group">
          <h3 class="auth-input-label">password</h3>
          <input type="password" name="password" id="login-password" class="auth-input-field">
          <button type="button" id="to-reset-btn" class="auth-switch-btn">forgot password?</button>
        </label>
        <button type="submit" id="login-btn" class="auth-submit-btn">Log In</button>
      </fieldset>

      <button type="button" id="to-signup-btn" class="auth-switch-btn">sign up</button>
    </form>
  </dialog>

  <!-- signup modal -->
  <dialog id="signup-modal" class="auth-modal">
    <form method="post" id="signup-form" class="auth-form">
      <fieldset id="signup-fieldset" class="auth-fieldset">
        <legend class="auth-fieldset-legend">
          <h2>Sign Up</h2>
        </legend>
        <label for="signup-username" class="auth-input-group">
          <h3 class="auth-input-label">username</h3>
          <input type="text" name="username" id="signup-username" class="auth-input-field">
        </label>
        <label for="signup-email" class="auth-input-group">
          <h3 class="auth-input-label">email</h3>
          <input type="email" name="email" id="signup-email" class="auth-input-field">
        </label>
        <label for="signup-password" class="auth-input-group">
          <h3 class="auth-input-label">password</h3>
          <input type="password" name="password" id="signup-password" class="auth-input-field">
        </label>
        <button type="submit" id="signup-btn" class="auth-submit-btn">Sign Up</button>
      </fieldset>

      <button type="button" id="to-login-btn" class="auth-switch-btn">login</button>
    </form>
  </dialog>

  <!-- reset modal -->
  <dialog id="reset-modal" class="auth-modal">
    <form method="post" id="reset-form" class="auth-form">
      <fieldset id="reset-fieldset" class="auth-fieldset">
        <legend class="auth-fieldset-legend">
          <h2>Reset Password</h2>
        </legend>
        <label for="reset-email" class="auth-input-group">
          <h3 class="auth-input-label">email</h3>
          <input type="email" name="email" id="reset-email" class="auth-input-field">
        </label>
        <button type="submit" id="reset-btn" class="auth-submit-btn">Reset Password</button>
      </fieldset>

      <button type="button" id="cancel-reset-btn" class="auth-switch-btn">cancel</button>
    </form>
  </dialog>
</body>
</html>