<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <script src="https://kit.fontawesome.com/8b3af6f949.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="app-container">
    <header class="header">
      <img class="header-logo" src=<%=require("../images/pantone.svg")%> />
      <button type="button" class="nav-toggler" id="nav-toggler">
        <img class="nav-toggler-img" src=<%=require("../images/menu-8.svg")%> />
      </button>
      <nav id="nav" class="nav">
        <div id="nav-links" class="nav-links">
          <a href="#" class="nav-link">generator</a>
          <a href="./schemes.html" class="nav-link">my schemes</a>
          <a href="./colors.html" class="nav-link">my colors</a>
        </div>
        <button type="button" class="nav-btns-toggler" id="nav-btns-toggler">
          <img class="nav-btns-toggler-img" src=<%=require("../images/user-c-frame.svg")%> />
        </button>
        <hr class="nav-separator">
        <div id="nav-btns" class="nav-btns">
          <button id="nav-login-btn" class="nav-btn nav-login-btn">log in</button>
          <button id="nav-signup-btn" class="nav-btn nav-signup-btn">sign up</button>
          <button id="nav-logout-btn" class="nav-btn nav-logout-btn">log out</button>
        </div>
      </nav>
    </header>
    <main>
      <div class="generator-container">
        <form id="generator-form" class="form generator-form">
          <fieldset id="scheme-create-pane" class="fieldset scheme-create-pane">
            <button type="button" id="generator-close-form-btn" class="close-form-btn">
              <i class="fa-solid fa-circle-xmark"></i>
            </button>
            <label for="color" class="input-group">
              <h2 class="input-label">seed</h2>
              <input type="color" name="color" id="color" class="input-field color">
            </label>
            <section class="input-group">
              <h2 class="input-label">mode</h2>
              <button type="button" id="mode-dropdown-btn" class="input-field mode-dropdown-btn">
                <p id="mode-dropdown-btn-text" class="mode-dropdown-btn-text">monochrome</p>
                <i class="fa-solid fa-chevron-down"></i>
              </button>
            </section>
            <section class="input-group">
              <h2 class="input-label">count</h2>
              <div class="input-field count-input-field">
                <button type="button" id="count-decrease-btn" class="count-btn">
                  <i class="fa-solid fa-minus"></i>
                </button>
                <p id="count" class="count" data-value="5">5</p>
                <button type="button" id="count-increase-btn" class="count-btn">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </section>
            <button type="button" id="get-scheme-btn" class="form-btn get-scheme-btn">get scheme</button>
          </fieldset>
          <fieldset id="scheme-ctrl-pane" class="fieldset scheme-ctrl-pane">
            <button type="button" id="save-scheme-btn" class="form-btn scheme-ctrl-btn">save scheme</button>
            <button type="button" id="new-scheme-btn" class="form-btn scheme-ctrl-btn">new scheme</button>
          </fieldset>
        </form>
        <div id="generator-display" class="generator-display">
          <p class="generator-display-placeholder">Generating color scheme...</p>
        </div>
      </div>
    </main>
  </div>
  
  <!-- login modal -->
  <dialog id="login-modal" class="auth-modal">
    <form method="post" id="login-form" class="auth-form">
      <button type="button" id="close-login-btn" class="close-auth-modal-btn">
        <img class="close-auth-modal-icon" src=<%=require("../images/c-remove.svg")%> />
      </button>
      <fieldset id="login-fieldset" class="auth-fieldset">
        <legend class="auth-fieldset-legend">
          <h2>Log In</h2>
        </legend>
        <label for="login-email" class="auth-input-group">
          <h3 class="auth-input-label">email</h3>
          <input type="email" name="email" id="login-email" class="auth-input-field">
        </label>
        <label for="login-password" class="auth-input-group">
          <h3 class="auth-input-label">password</h3>
          <input type="password" name="password" id="login-password" class="auth-input-field">
          <button type="button" id="to-reset-btn" class="auth-switch auth-switch-btn">forgot password?</button>
        </label>
        <button type="submit" id="login-btn" class="auth-submit-btn">Log In</button>
      </fieldset>

      <div class="auth-switch">
        Don't have an account yet?
        <button type="button" id="to-signup-btn" class="auth-switch-btn">sign up</button>
      </div>
    </form>
  </dialog>

  <!-- signup modal -->
  <dialog id="signup-modal" class="auth-modal">
    <form method="post" id="signup-form" class="auth-form">
      <button type="button" id="close-signup-btn" class="close-auth-modal-btn">
        <img class="close-auth-modal-icon" src=<%=require("../images/c-remove.svg")%> />
      </button>
      <fieldset id="signup-fieldset" class="auth-fieldset">
        <legend class="auth-fieldset-legend">
          <h2>Sign Up</h2>
        </legend>
        <label for="signup-username" class="auth-input-group">
          <h3 class="auth-input-label">username</h3>
          <input type="text" name="username" id="signup-username" class="auth-input-field">
        </label>
        <label for="signup-email" class="auth-input-group">
          <h3 class="auth-input-label">email</h3>
          <input type="email" name="email" id="signup-email" class="auth-input-field">
        </label>
        <label for="signup-password" class="auth-input-group">
          <h3 class="auth-input-label">password</h3>
          <input type="password" name="password" id="signup-password" class="auth-input-field">
        </label>
        <button type="submit" id="signup-btn" class="auth-submit-btn">Sign Up</button>
      </fieldset>

      <div class="auth-switch">
        Already have an account?
        <button type="button" id="to-login-btn" class="auth-switch-btn">log in</button>
      </div>
    </form>
  </dialog>

  <!-- reset modal -->
  <dialog id="reset-modal" class="auth-modal">
    <form method="post" id="reset-form" class="auth-form">
      <button type="button" id="close-reset-btn" class="close-auth-modal-btn">
        <img class="close-auth-modal-icon" src=<%=require("../images/c-remove.svg")%> />
      </button>
      <fieldset id="reset-fieldset" class="auth-fieldset">
        <legend class="auth-fieldset-legend">
          <h2>Reset Password</h2>
        </legend>
        <label for="reset-email" class="auth-input-group">
          <h3 class="auth-input-label">email</h3>
          <input type="email" name="email" id="reset-email" class="auth-input-field">
        </label>
        <button type="submit" id="reset-btn" class="auth-submit-btn">Reset Password</button>
      </fieldset>

      <div class="auth-switch">
        <button type="button" id="cancel-reset-btn" class="auth-switch-btn">cancel</button>
      </div>
    </form>
  </dialog>
</body>
</html>