.header {
  /* positioning */
  position: relative;

  /* sizing */
  height: 4em;

  /* content layout */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* styling */
  background-color: var(--main);
  z-index: 2;
}

.nav-container {
  /* positioning */
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  
  /* sizing */
  width: 100vw;
  height: 100vh;  
}

.nav {
  /* positioning */
  position: absolute;
  top: 3.25em;
  right: 0;

  /* content layout */
  display: flex;
  flex-direction: column;
  padding: 1em;

  /* styling */
  background-color: var(--main);
  border-radius: .625em;
  box-shadow: 0 15px 10px -3px rgba(0, 0, 0, .1),
              0 0 6px -2px rgba(0, 0, 0, .05),
              0 0 0 1px rgba(0, 0, 0, .05);
}

.nav-links,
.nav-btns {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3125em;

  background-color: var(--main);
}

.nav-link,
.nav-btn {
  font-size: 1em;
  text-transform: capitalize;
  text-decoration: none;

  min-width: 7em;
  padding: .625em 1.25em;
  border-radius: .375em;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  background-color: rgba(220, 220, 220, .5);
}

.nav-separator {
  margin: .625em;

  border: none;
  border-top: 1px solid rgba(120, 120, 120, .3);
  border-left: 1px solid rgba(120, 120, 120, .3);
}

.auth-expand-btn {
  display: none;
}

.nav-logout-btn,
.nav-signup-btn {
  background-color: black;
  color: var(--main);
}

.nav-expanded {
  display: block;
}

@media only screen and (min-width: 768px) {
  .nav-expand-btn {
    display: none
  }

  .nav-container {
    /* positioning */
    display: block;
    position: static;

    /* sizing */
    width: auto;
    height: auto;
  }

  .nav {
    /* positioning */
    position: static;

    /* content layout */
    flex-direction: row;
    gap: 1.25em;
    padding: 0;

    /* styling */
    box-shadow: none;
    border-radius: 0;
  }

  .nav-links {
    flex-direction: row;
    gap: 1.25em;
  }

  .auth-expand-btn {
    display: block;
  }

  .nav-auth-container {
    /* positioning */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    
    /* sizing */
    width: 100vw;
    height: 100vh;  
  }

  .nav-auth-expanded {
    display: block;
  }

  .nav-btns {
    /* positioning */
    position: absolute;
    top: 3.25em;
    right: 0;

    /* content layout */
    padding: 1em;

    /* styling */
    border-radius: .625em;
    box-shadow: 0 15px 10px -3px rgba(0, 0, 0, .1),
              0 0 6px -2px rgba(0, 0, 0, .05),
              0 0 0 1px rgba(0, 0, 0, .05);
  }
}

@media only screen and (min-width: 992px) {
  .auth-expand-btn {
    display: none;
  }

  .nav-auth-container {
    /* positioning */
    display: block;
    position: static;

    /* sizing */
    width: auto;
    height: auto;
  }

  .nav-btns {
    /* positioning */
    position: static;

    /* content layout */
    flex-direction: row;
    gap: 1.25em;
    padding: 0;

    /* styling */
    border-radius: 0;
    box-shadow: none;
  }
}