.auth-modal {
  width: 90vw;
  max-width: 320px;

  border-radius: 1em;
  border: none;
}

.auth-form {
  padding: 1.5em;
  gap: .5em;
}

.auth-fieldset {
  gap: 1.5em;
  padding: 1em 0;
  margin-bottom: 1em;
  position: relative;
}

.auth-form-btn {
  background-color: steelblue;
  color: whitesmoke;
}

.auth-error-msg {
  font-size: .875rem;
  font-weight: 600;
  text-align: center;
  color: red;
  width: 100%;

  position: absolute;
  bottom: -.5em;
}