.auth-modal {
  width: 90vw;
  max-width: 360px;

  border-radius: 1em;
  border: none;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

.auth-fieldset {
  display: flex;
  flex-direction: column;

  border: none;
}

.auth-fieldset-legend {
  font-size: 1.5em;
  text-transform: capitalize;
}

.auth-input-group {
  display: flex;
  flex-direction: column;
  gap: .5em;

  margin-top: 1.5em;
}

.auth-input-label {
  font-size: .875rem;
  text-transform: capitalize;
}

.auth-input-field {
  height: 3em;
  padding: 0 .75em;
  border-radius: .5em;
}

.auth-input-field:focus {
  outline: none;
}

.auth-btn {
  margin: 1.5em 0 .5em;
  
  background-color: royalblue;
  color: white;
  text-transform: capitalize;
}

.auth-switch {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 .3em;
}

.reset-switch {
  font-size: .875rem;
}

.auth-switch-btn {
  text-decoration: underline;
  color: blue;
}